* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    color: #444;
    font-family: Roboto;
    padding: 50px;
    background: linear-gradient(to bottom right,#67b26f, #4ca2cd);
    height: 100vh;
    display: flex;
    align-items: center; /* X Axis*/
    justify-content: center; /* Y Axis*/
}
.pizza {
    display: flex;
    /* Align items here in the container */
    /* align-items: center; Moves up or down the X axis */
    width: 800px;
    border-radius: 5px;
    box-shadow: 10px 10px 30px 30px rgba(0,0,0,.3 );
    overflow: hidden;
}
.pizza__hero {
    flex: 0 0 45%;
    /* grow / shrink / width  */
}
.pizza__img {
    width: 100%;
    display: block;
    /* Always display img as block */
}
.pizza__content{
    background-color: #fff;
    flex: 1;
    padding: 30px 10px;
}
.pizza__price{
    /* align-self: center; For the individual content */
    background: linear-gradient(to bottom,#67b26f, #4ca2cd);
    flex: 0 1 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    writing-mode: vertical-rl;
    font-size: 18px;

}
.pizza__title {
    display: flex;
    align-items: center;
}
.pizza__heading {
    margin-right: auto;
}
.pizza__tag {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    margin-left: 8px;
    padding: 2px 6px;
}
.pizza__tag--1 {background: linear-gradient(to bottom right,#67b26f, #4ca2cd);}
.pizza__tag--2 {background: linear-gradient(to bottom,#67b26f, #4ca2cd);}
.pizza__discription {
    font-size: 16px;
    margin-top: 30px;
    line-height: 1.5;
    margin-bottom: 80px;
}
.pizza__details {
    display: flex;
    justify-content: center;
    
}
.pizza__detail {
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 700;
}
.emoji {
margin-right: 5px;
}