* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    color: #444;
    font-family: Roboto;
    padding: 100px;
    background: linear-gradient(to bottom right,#67b26f, #4ca2cd);
    height: 100vh;
}
.pizza {
    display: flex;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0 30px 80px 10px rgba(0,0,0,.3 );
}
.pizza__hero {
    flex: 0 0 45%;
    /* grow / shrink / width  */
}
.pizza__img {
    width: 100%;
}
.pizza__content{
    background-color: #fff;
    flex: 1;
}
.pizza__price{
    background: linear-gradient(to bottom,#67b26f, #4ca2cd);
    flex: 0 1 50px;

}